
                <a href="#ROOT#/Main">Home</a>
                <div class="sub">
                    <a href="#ROOT#/Fragen/Liste">Fragen</a>
                    <br />
                    <nav class="sub">
                        <a href="#ROOT#/Fragen/Neu">Neu</a>
                        <a href="#ROOT#/Fragen/Liste">Bearbeiten</a>
                    </nav>
                </div>
                <div class="sub">
                    <a href="#ROOT#/Schwierigkeiten/Liste">Schwierigkeiten</a>
                    <br />
                    <nav class="sub">
                        <a href="#ROOT#/Schwierigkeiten/Neu">Neu</a>
                        <a href="#ROOT#/Schwierigkeiten/Liste">Bearbeiten</a>
                    </nav>
                </div>
                <br clear="all" />
