
                <a href="#ROOT#/Main">Home</a>
                #IF:isset($_SESSION['loggedin'])#
                <a href="#ROOT#/Main/Logout">Logout</a>
                <div class="sub">
                    <a href="#ROOT#/Fragen/Liste">Fragen</a>
                    <br />
                    <!--<nav class="sub">
                        <a href="#ROOT#/Fragen/Neu">Neu</a>
                        <a href="#ROOT#/Fragen/Liste">Bearbeiten</a>
                    </nav>-->
                </div>
                <div class="sub">
                    <a href="#ROOT#/Kategorien/Liste">Kategorien</a>
                    <br />
                </div>
                <div class="sub">
                    <a href="#ROOT#/Schwierigkeiten/Liste">Schwierigkeiten</a>
                    <br />
                    <!--<nav class="sub">
                        <a href="#ROOT#/Schwierigkeiten/Neu">Neu</a>
                        <a href="#ROOT#/Schwierigkeiten/Liste">Bearbeiten</a>
                    </nav>-->
                </div>
                <div class="sub">
                    <a href="#ROOT#/Statistiken/Liste">Statistiken</a>
                    <br />
                </div>
                <div class="sub">
                    <a href="#ROOT#/Benutzer/Liste">Benutzerverwaltung</a>
                    <br />
                </div>
                #/IF#

                <br clear="all" />
