 <h1 class="blue">Benutzerverwaltung</h1>
 <h2 class="blueklein">Benutzer bearbeiten</h2>

        <form method="post">
            <input type="hidden" name="UID" value="#VAR:UID#" />

            <table style="float: left;">
                <tr>
                    <th><label for="strName" class="#VAR:ERROR_strName#">Benutzer</label></th>
                    <td><input id="strName" name="strName" value="#VAR:strName#" class="text ui-widget-content ui-corner-all" /></td>
                </tr>
                 <tr>
                    <td colspan="2">
                        <input type="submit" value="&Auml;ndern" />
                    </td>
                </tr>
            </table>
            <br clear="all" />&nbsp;<br />
        </form>