
        <h1>Benutzerverwaltung</h1>
        <h2>Benutzer löschen</h2>

        <form method="post">
            <table style="float: left;">
                <tr>
                    <th><label for="strName" class="#VAR:ERROR_strBackenduser#">Benutzername</label></th>
                    <td><input type="text" id="strName" name="strName" value="#VAR:strName#" class="text ui-widget-content ui-corner-all" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Anlegen" />
                    </td>
                </tr>
            </table>
            <br clear="all" />&nbsp;<br />
        </form>