    <script>
  $(function() {
    var spinner = $( "#lngOpttime" ).spinner();

    $( "#disable" ).click(function() {
      if ( spinner.spinner( "option", "disabled" ) ) {
        spinner.spinner( "enable" );
      } else {
        spinner.spinner( "disable" );
      }
    });
    $( "#destroy" ).click(function() {
      if ( spinner.data( "ui-spinner" ) ) {
        spinner.spinner( "destroy" );
      } else {
        spinner.spinner();
      }
    });
    $( "#getvalue" ).click(function() {
      alert( spinner.spinner( "value" ) );
    });
    $( "#setvalue" ).click(function() {
      spinner.spinner( "value", 5 );
    });

    $( "button" ).button();
  });
  </script>

  <h1 class="blue">Fragenverwaltung</h1>
  <h2 class="blueklein">Frage bearbeiten</h2>

        <form method="post">
            <input type="hidden" name="UID" value="#VAR:UID#" />

            <table style="float: left;">
                <tr>
                    <th><label for="strQuestion" class="#VAR:ERROR_strQuestion#">Frage</label></th>
                    <td>
                        <textarea id="strQuestion" name="strQuestion" cols="50" rows="5" class="text ui-widget-content ui-corner-all">#VAR:strQuestion#</textarea>
                    </td>
                </tr>
                <tr>
                    <th><label for="category" class="#VAR:ERROR_category#">Kategorie</label></th>
                    <td>
                        <select id="category" name="category[]" multiple="multiple" size="6" class="text ui-widget-content ui-corner-all">
                            <option value="">--- Auswahl ---</option>
                            #VAR:txtCategories#
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="difficulty" class="#VAR:ERROR_difficulty#">Schwierigkeit</label></th>
                    <td>
                        <select id="difficulty" name="difficulty" class="text ui-widget-content ui-corner-all">
                            <option value="">--- Auswahl ---</option>
                            #VAR:txtDifficulties#
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="lngOpttime">Anzeigezeit (optional)</label></th>
                    <td><input id="lngOpttime" name="lngOpttime" value="#VAR:lngOpttime#" class="text ui-widget-content ui-corner-all" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Anlegen" />
                    </td>
                </tr>
            </table>
            <table style="float: left; margin-left: 50px;">
                <thead>
                    <tr>
                        <th class="#VAR:ERROR_antwort#">Antwort:</th>
                        <th class="#VAR:ERROR_antwort#">Richtig?</th>
                    </tr>
                </thead>
                <tbody id="answerlist">
                    #FOREACH:antwort#
                    <tr>
                        <td>
                            <input type="hidden" name="antwort[#VAR:UID#][UID]" value="#VAR:UID#" />
                            <input type="text" name="antwort[#VAR:UID#][strAnswer]" value="#VAR:strAnswer#" class="text ui-widget-content ui-corner-all" />
                        </td>
                        <td>
                            <input type="checkbox" name="antwort[#VAR:UID#][blnTrue]" value="checked" #VAR:blnTrue# class="text ui-widget-content ui-corner-all" />
                        </td>
                    </tr>
                    #/FOREACH#
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button id="addAnswer">add answer</button>
                            <button id="remAnswer">remove answer</button>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <br clear="all" />&nbsp;<br />
        </form>

        <script type="text/javascript">
            ac = #VAR:antwortcount#;

            $(document).ready(function(){
                $("#addAnswer").button({
                    icons: {
                        primary: "ui-icon-plusthick"
                    },
                    text: false
                }).click(function(e){
                    e.preventDefault();
                    ac++;
                    r='<tr><td><input type="hidden" name="antwort[n'+ac+'][UID]" value="n'+ac+'" /><input type="text" name="antwort[n'+ac+'][strAnswer]" class="text ui-widget-content ui-corner-all" /></td><td><input type="checkbox" name="antwort[n'+ac+'][blnTrue]" value="checked" class="text ui-widget-content ui-corner-all" /></td></tr>'
                    $("#answerlist").append(r);
                });

                $("#remAnswer").button({
                    icons: {
                        primary: "ui-icon-minusthick"
                    },
                    text: false
                }).click(function(e){
                    e.preventDefault();
                    if(ac==3){return false;}
                    $("#answerlist tr").last().remove();
                    ac--;
                });
            });
        </script>
