
        <h1>Liste der Fragen</h1>

        #IF:is_array($this->_objResponse->arrQuestions)#
        <form id="action"></form>
        <table class="ui-widget ui-widget-content">
            <p> 
                <button class="btnNew" name="uid" value="#VAR:UID#" type="submit" form="action" formaction="#ROOT#/Fragen/Neu" formmethod="post">Neu</button>&nbsp;
            </p>      
            <thead>
                <tr class="ui-widget-header">
                    <th>#ID</th>
                    <th>Frage</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrQuestions#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:strQuestion#</td>
                    <td>
                        <button class="btnEdit" name="uid" value="#VAR:UID#" type="submit" form="action" formaction="#ROOT#/Fragen/Bearbeiten" formmethod="get">Bearbeiten</button>&nbsp;
                        <button class="btnDelete" name="uid" value="#VAR:UID#" type="submit" form="action" formaction="#ROOT#/Fragen/Löschen" formmethod="get">Löschen</button>
                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>
        #/IF#

        #IF:!is_array($this->_objResponse->arrQuestions)#
        <h3>Keine Frage vorhanden!</h3>
        #/IF#

        <script type="text/javascript">
            $(document).ready(function(){
                $(".btnEdit").button({
                    icons: {
                        primary: "ui-icon-pencil"
                    },
                    text: false
                });

                $(".btnDelete").button({
                    icons: {
                        primary: "ui-icon-trash"
                    },
                    text: false
                });
                
                $(".btnNew").button({
                    icons: {
                        primary: "ui-icon-plusthick"
                    },
                    text: false
                });
            });
        </script>