
        <h1>Liste der Statistiken</h1>

      <a href="javascript:alert()">Unsere Erfolge</a>

        #IF:is_array($this->_objResponse->arrSessions)#
         <form id="action"></form>
       <table class="ui-widget ui-widget-content">
           <thead class="sortable">
                <tr class="ui-widget-header">e
                    <th title="UID">#ID</th>
                    <th title="dtmStart">Startdatum</th>
                    <th title="lngPoints">Punktzahl</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrSessions#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:dtmStart#</td>
                    <td>#VAR:lngPoints#</td>
                    <td>#VAR:strName#</td>
                    <td>
                        <button class="btnDelete" name="uid" value="#VAR:UID#" type="submit" form="action" formaction="#ROOT#/Statistiken/Löschen" formmethod="get">Löschen</button>
                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>

        <table>
           <tr>
                    <td>#VAR:kategorien[1]#</td>
                    <td>#VAR:punkte[1]#</td>
                    <td>
                        <button class="btnDelete" name="uid" value="#VAR:UID#" type="submit" form="action" formaction="#ROOT#/Statistiken/Löschen" formmethod="get">Löschen</button>
                    </td>
                </tr>
        </table>
        #/IF#

        #IF:!is_array($this->_objResponse->arrSessions)#
        <h3>Keine Statistiken vorhanden!</h3>
        #/IF#

        <script type="text/javascript">
            $(document).ready(function(){
                $("btnDelete").button({
                    icons: {
                        primary: "ui-icon-trash"
                    },
                    text: false
                });
            });
        </script>

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});

      function drawVisualization() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Kategorien');
        data.addColumn('number', 'Punkte');
        data.addRows([
            #FOREACH:arrStatsessions#['#VAR:strName#',#VAR:lngPoints#],#/FOREACH#
        ]);


        new google.visualization.PieChart(document.getElementById('visualization')).
            draw(data, {title:"So, how was your day?"});
      }

        google.setOnLoadCallback(drawVisualization);
    </script>
    <div id="visualization" style="width: 600px; height: 400px;"></div>