
        <h1 class="blue">Statistiken</h1>

        <script type="text/javascript">
            $(document).ready(function(){
                $(".btnEdit").button({
                    icons: {
                        primary: "ui-icon-pencil"
                    },
                    text: false
                });

                $(".btnDelete").button({
                    icons: {
                        primary: "ui-icon-trash"
                    },
                    text: false
                });

                $(".btnNew").button({
                    icons: {
                        primary: "ui-icon-plusthick"
                    },
                    text: false
                });
            });
        </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart1);
      function drawChart1() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Kategorien');
        data.addColumn('number', 'Punkte');
        data.addRows([
            #FOREACH:arrStatsessions#['#VAR:strName#',#VAR:lngPoints#],#/FOREACH#
        ]);

        var options = {
          title: 'Wie oft wurden die jeweiligen Kategorien geprüft?',
          is3D: true,
          backgroundColor: '#EEEEEE'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
    <table border="0">
  <tr>
      <td>
  <div id="piechart_3d" style="width: 500px; height: 350px;"></div>
      </td>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart2);
      function drawChart2() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Ergebnis');
        data.addColumn('number', 'Punkte');
        data.addRows([
           #FOREACH:arrCountsessionspoints#['Bestanden',#VAR:lngPoints#],#/FOREACH#
           #FOREACH:arrCountsessions#['Nicht bestanden',#VAR:lngPoints#],#/FOREACH#
        ]);

        var options = {
          title: 'Wie viele Prüflinge haben bestanden?',
          is3D: true,
          backgroundColor: '#EEEEEE'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d2'));
        chart.draw(data, options);
      }
    </script>
    <td>
    <div id="piechart_3d2" style="width: 500px; height: 350px;"></div>
    </td>
    </tr>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart3);
      function drawChart3() {
        var data = google.visualization.arrayToDataTable([
          ['Datum', 'Sessions'],
          #FOREACH:arrPointsessions#['#VAR:dtmStart|dateformat#',#VAR:Anzahl#],#/FOREACH#
        ]);

        var options = {
          title: 'Wann wurde eine Prüfung durchgeführt?',
          hAxis: {title: 'Datum',  titleTextStyle: {color: '#333'}},
          vAxis: {title: 'Anzahl', titleTextStyle: {color: '#333'}, minValue: 0},
          is3D: true,
          backgroundColor: '#EEEEEE',
          legend: {position: 'none'}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <tr>
        <td colspan="2">
            <div id="chart_div" style="width: 1000; height: 350px;"></div>
        </td>
    </tr>
    </table>
    <br/>
    <form id="action"></form>
       <table class="ui-widget ui-widget-content">
           <thead class="sortable">
                <tr class="ui-widget-header">
                    <th title="dtmStart">Datum</th>
                    <th title="lngPoints">Kategorie</th>
                    <th title="lngPoints">Punktzahl</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrSessions#
                <tr>
                    <td>#VAR:dtmStart|dateformat#</td>
                    <td>#VAR:strName#</td>
                    <td>#VAR:lngPoints#</td>
                    <td>
                        <button class="btnDelete" name="uid" value="#VAR:UID#" type="submit" form="action" formaction="#ROOT#/Statistiken/Loeschen" formmethod="get">Loeschen</button>
                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>
