<!DOCTYPE html>
<html>
    <head>
        <title>Multiple Choice-Prüfungssoftware | #VAR:strTitle#</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="#ROOT#/css/main.css" rel="stylesheet" />
    </head>
    <body>

        <header>

            <h1>Multiple Choice-Verwaltungstool</h1>

            <nav>
                #TPL:tplNavigation#
            </nav>

        </header>

        <section>
            #TPL:tplContent#
        </section>

        <footer>
            <h1>Footer</h1>
        </footer>

    </body>
</html>