
        <h1>Liste der Antworten</h1>

        #IF:is_array($this->_objResponse->arrAnswers)#
        <table class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>#ID</th>
                    <th>Antwort</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrAnswers#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:strAnswer#</td>
                    <td>

                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>
        #/IF#

        #IF:!is_array($this->_objResponse->arrAnswers)#
        <h3>Keine Antwort vorhanden!</h3>
        #/IF#