
        <h1>Liste der Kategorien</h1>

        #IF:is_array($this->_objResponse->arrCategories)#
        <table class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>#ID</th>
                    <th>Kategorie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrCategories#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:strCategory#</td>
                    <td>

                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>
        #/IF#

        #IF:!is_array($this->_objResponse->arrCategories)#
        <h3>Keine Kategorien vorhanden!</h3>
        #/IF#