
<h1>Kategorienverwaltung</h1>        
<h2>Neue Kategorie</h2>

        <form method="post">
            <table style="float: left;">
                <tr>
                    <th><label for="strName" class="#VAR:ERROR_strName#">Kategorie</label></th>
                    <td><input type="text" id="strName" name="strName" value="#VAR:strName#" class="text ui-widget-content ui-corner-all" /></td>
                </tr>
                <tr>
                    <th><label for="strParentid">Überkategorie</label></th>
                    <td>
                        <select id="category" name="strParentid" multiple="multiple" size="3" class="text ui-widget-content ui-corner-all">
                            <option value="-">--- Auswahl ---</option>
                            #VAR:txtCategories#
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Anlegen" />
                    </td>
                </tr>
            </table>
            <br clear="all" />&nbsp;<br />
        </form>